extends layout

block content
    if (error)
        h1 #{error.title}
        p #{error.body}
        br
        form(action="/verification", method="POST")
            button(type="submit") Reenviar email
    else
        h1 ¡Bienvenido a #{title} #{firstName}!
        p Tu dirección de correo electrónico ha sido verificada exitosamente.
        br
        p 
            b Inicia sesión para comenzar
            a #{url}
        